{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "1.0.0",
    "title" : "Statstrade",
    "license" : {
      "name" : "MIT"
    }
  },
  "servers" : [ {
    "url" : "https://testnet.statstrade.io/api/v1"
  }, {
    "url" : "https://mainnet.statstrade.io/api/v1"
  } ],
  "paths" : {
    "/account/check-email-available" : {
      "post" : {
        "summary" : "checks that email is available",
        "operationId" : "check_email_available",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "email" : {
                    "type" : "string",
                    "required" : true,
                    "example" : "ZCAUDATE@OUTLOOK.COM"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : true
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/check-email-exists" : {
      "post" : {
        "summary" : "checks that email exists in the db",
        "operationId" : "check_email_exists",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "email" : {
                    "type" : "string",
                    "required" : true,
                    "example" : "ZCAUDATE@OUTLOOK.COM"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : false
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/check-nickname-available" : {
      "post" : {
        "summary" : "checks that the nickname is available",
        "operationId" : "check_nickname_available",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "nickname" : {
                    "type" : "string",
                    "required" : true,
                    "example" : "ZCAUDATE"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : true
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/check-nickname-exists" : {
      "post" : {
        "summary" : "check that nickname exists in the db",
        "operationId" : "check_nickname_exists",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "nickname" : {
                    "type" : "string",
                    "required" : true,
                    "example" : "ZCAUDATE"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : false
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/create-account" : {
      "post" : {
        "summary" : "creates an account",
        "operationId" : "create_account",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid",
                    "required" : true,
                    "example" : "802b818e-350e-4139-9077-30664ddc38b1"
                  },
                  "form" : {
                    "type" : "object",
                    "properties" : {
                      "email" : {
                        "type" : "string",
                        "required" : true,
                        "example" : "ZCAUDATE@OUTLOOK.COM"
                      },
                      "password" : {
                        "type" : "string",
                        "required" : true,
                        "example" : "hello"
                      },
                      "nickname" : {
                        "type" : "string",
                        "required" : true,
                        "example" : "ZCAUDATE"
                      },
                      "profile" : {
                        "type" : "object",
                        "properties" : {
                          "first_name" : {
                            "type" : "string",
                            "required" : true,
                            "example" : "Chris"
                          },
                          "last_name" : {
                            "type" : "string",
                            "required" : true,
                            "example" : "Zheng"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "op_tag" : "user.account/create-account",
                      "mq_channel" : "__MAIL__",
                      "op_account" : "802b818e-350e-4139-9077-30664ddc38b1",
                      "op_id" : "8af1af58-f662-11ed-9b18-7df9fd3c030b",
                      "op_level" : "M",
                      "sync" : {
                        "user_account" : [ {
                          "site_terms_id" : "00000000-0000-0000-0000-000000000000",
                          "is_official" : false,
                          "nickname" : "ZCAUDATE",
                          "time_updated" : 1684513862597913,
                          "is_active" : true,
                          "is_verified" : true,
                          "id" : "366bb27b-dd5e-4d9f-b9b0-28461c20ef88",
                          "is_bot" : false,
                          "password_updated" : 1684513862597913,
                          "time_created" : 1684513862597913,
                          "lock_id" : "628905d4-22fd-4696-800b-590c6b3c78c8",
                          "is_super" : false,
                          "site_privacy_id" : "00000000-0000-0000-0000-000000000000"
                        } ],
                        "user_profile" : [ {
                          "last_name" : "Zheng",
                          "first_name" : "Chris",
                          "time_updated" : 1684513862597913,
                          "time_created" : 1684513862597913,
                          "account_id" : "366bb27b-dd5e-4d9f-b9b0-28461c20ef88",
                          "language" : "EN",
                          "id" : "c7ff8362-5390-4ba9-931e-d514a2e6ba12"
                        } ]
                      },
                      "msg_id" : "8af1af5b-f662-11ed-9b18-7df9fd3c030b",
                      "mq_partition" : "main",
                      "meta" : {
                        "email" : "ZCAUDATE@OUTLOOK.COM",
                        "last_name" : "Zheng",
                        "first_name" : "Chris",
                        "time_updated" : 1684513862597913,
                        "time_created" : 1684513862597913,
                        "account_id" : "366bb27b-dd5e-4d9f-b9b0-28461c20ef88",
                        "language" : "EN",
                        "id" : "c7ff8362-5390-4ba9-931e-d514a2e6ba12"
                      },
                      "op_time" : 1684513862597913
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/delete-account" : {
      "post" : {
        "summary" : "deletes an account",
        "operationId" : "delete_account",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : null
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/delete-account-check" : {
      "post" : {
        "summary" : "checks that account can be deleted",
        "operationId" : "delete_account_check",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : null
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/email-add-additional" : {
      "post" : {
        "summary" : "adds an additional email to account",
        "operationId" : "email_add_additional",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid"
                  },
                  "form" : {
                    "type" : "object"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : null
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/email-get-all" : {
      "post" : {
        "summary" : "gets all emails associated with account",
        "operationId" : "email_get_all",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid",
                    "required" : true,
                    "example" : "35639174-d2a0-4557-bf87-59e55d0deb8a"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : [ {
                      "time_updated" : 1684513885551861,
                      "is_active" : true,
                      "is_verified" : true,
                      "id" : "bb2580ec-09f7-42e6-be8b-69b4617eb031",
                      "is_public" : false,
                      "value" : "ZCAUDATE@OUTLOOK.COM",
                      "is_primary" : true,
                      "time_created" : 1684513885551861,
                      "account_id" : "35639174-d2a0-4557-bf87-59e55d0deb8a"
                    } ]
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/email-get-primary" : {
      "post" : {
        "summary" : "gets the primary email associated with the account",
        "operationId" : "email_get_primary",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid",
                    "required" : true,
                    "example" : "3c29243d-9f33-477e-9326-1a237cf54af6"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "time_updated" : 1684513885583744,
                      "is_active" : true,
                      "is_verified" : true,
                      "id" : "9f9a812f-a64b-44f7-97d0-e5bcfc8b4d0c",
                      "is_public" : false,
                      "value" : "ZCAUDATE@OUTLOOK.COM",
                      "is_primary" : true,
                      "time_created" : 1684513885583744,
                      "account_id" : "3c29243d-9f33-477e-9326-1a237cf54af6"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/email-registration" : {
      "post" : {
        "summary" : "gets email registration",
        "operationId" : "email_registration",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : { }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : null
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/email-remove-additional" : {
      "post" : {
        "summary" : "removes the email from the account",
        "operationId" : "email_remove_additional",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid",
                    "required" : true,
                    "example" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac"
                  },
                  "email" : {
                    "type" : "string",
                    "required" : true,
                    "example" : "HELLO@WORLD.COM"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "op_tag" : "user.account/email-remove-additional",
                      "mq_channel" : "__USER__",
                      "op_account" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac",
                      "op_id" : "9910bd28-f662-11ed-9b18-7df9fd3c030b",
                      "op_level" : "N",
                      "remove" : {
                        "user_email" : [ {
                          "time_updated" : 1684513885687734,
                          "is_active" : true,
                          "is_verified" : true,
                          "detail" : {
                            "tag" : "personal"
                          },
                          "id" : "1c4f5426-3875-4868-a69e-af85adfb9ab3",
                          "is_public" : false,
                          "value" : "HELLO@WORLD.COM",
                          "op_created" : "9910bd1e-f662-11ed-9b18-7df9fd3c030b",
                          "is_primary" : false,
                          "op_updated" : "9910bd26-f662-11ed-9b18-7df9fd3c030b",
                          "time_created" : 1684513885647717,
                          "account_id" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac"
                        } ]
                      },
                      "msg_id" : "9910bd29-f662-11ed-9b18-7df9fd3c030b",
                      "mq_partition" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac",
                      "op_time" : 1684513885696870
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/email-set-primary" : {
      "post" : {
        "summary" : "sets the email as primary",
        "operationId" : "email_set_primary",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid",
                    "required" : true,
                    "example" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac"
                  },
                  "email" : {
                    "type" : "string",
                    "required" : true,
                    "example" : "HELLO@WORLD.COM"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "op_tag" : "user.account/email-set-primary",
                      "mq_channel" : "__USER__",
                      "op_account" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac",
                      "op_id" : "9910bd23-f662-11ed-9b18-7df9fd3c030b",
                      "op_level" : "N",
                      "sync" : {
                        "user_email" : [ {
                          "time_updated" : 1684513885668674,
                          "is_active" : true,
                          "is_verified" : true,
                          "id" : "1c4f5426-3875-4868-a69e-af85adfb9ab3",
                          "is_public" : false,
                          "value" : "HELLO@WORLD.COM",
                          "is_primary" : true,
                          "time_created" : 1684513885647717,
                          "account_id" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac"
                        }, {
                          "time_updated" : 1684513885668674,
                          "is_active" : true,
                          "is_verified" : true,
                          "id" : "1cbc5172-7f83-45c8-9aa0-49450bc5de24",
                          "is_public" : false,
                          "value" : "ZCAUDATE@OUTLOOK.COM",
                          "is_primary" : false,
                          "time_created" : 1684513885618080,
                          "account_id" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac"
                        } ]
                      },
                      "msg_id" : "9910bd24-f662-11ed-9b18-7df9fd3c030b",
                      "mq_partition" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac",
                      "op_time" : 1684513885668674
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/email-verification" : {
      "post" : {
        "summary" : "verifies code generated on registration",
        "operationId" : "email_verification",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "form" : {
                    "type" : "object",
                    "properties" : {
                      "email" : {
                        "type" : "string",
                        "required" : true,
                        "example" : "ZCAUDATE@OUTLOOK.COM"
                      },
                      "code" : {
                        "type" : "string",
                        "required" : true,
                        "example" : "56B757"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "op_tag" : "user.account/verification-complete",
                      "mq_channel" : "__MAIL__",
                      "op_account" : "503db435-252d-4399-b506-3e4cb4f0e97b",
                      "op_id" : "8af1af45-f662-11ed-9b18-7df9fd3c030b",
                      "op_level" : "M",
                      "sync" : {
                        "user_account" : [ {
                          "is_super" : false,
                          "nickname" : "ZCAUDATE",
                          "is_verified" : true,
                          "id" : "503db435-252d-4399-b506-3e4cb4f0e97b"
                        } ]
                      },
                      "msg_id" : "8af1af46-f662-11ed-9b18-7df9fd3c030b",
                      "mq_partition" : "main",
                      "meta" : {
                        "email" : "ZCAUDATE@OUTLOOK.COM",
                        "last_name" : "Zheng",
                        "first_name" : "Chris",
                        "account_id" : "503db435-252d-4399-b506-3e4cb4f0e97b",
                        "language" : "EN"
                      },
                      "op_time" : 1684513862495726,
                      "session" : {
                        "is_super" : false,
                        "id" : "eyJpZCI6ICI1MDNkYjQzNS0yNTJkLTQzOTktYjUwNi0zZTRjYjRmMGU5N2IiLCAiY3JlYXRlZCI6IDE2ODQ1MTM4NjI0OTYsICJpc19zdXBlciI6IGZhbHNlfQ==.8Wa2VSSPz6TYmyRubSBc7YhtwhtZUDaq3vi8RukHqiz7KCYsIhBQllnF0spFnBwe"
                      }
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/email-verification-resend" : {
      "post" : {
        "summary" : "renews the verification code",
        "operationId" : "email_verification_resend",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "form" : {
                    "type" : "object",
                    "properties" : {
                      "email" : {
                        "type" : "string",
                        "required" : true,
                        "example" : "ZCAUDATE@OUTLOOK.COM"
                      }
                    }
                  },
                  "debug" : {
                    "type" : "object",
                    "properties" : {
                      "code" : {
                        "type" : "string",
                        "required" : true,
                        "example" : "1111"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "mq_return" : {
                        "email" : "ZCAUDATE@OUTLOOK.COM"
                      },
                      "mq_bulk" : [ {
                        "op_tag" : "user.account/verification-resend",
                        "mq_channel" : "__MAIL__",
                        "op_account" : "33fc244c-6cc4-4d4f-9a2c-1fdf1c8835e3",
                        "params" : {
                          "code" : "1111"
                        },
                        "op_id" : "8af1af4e-f662-11ed-9b18-7df9fd3c030b",
                        "op_level" : "M",
                        "msg_id" : "8af1af4f-f662-11ed-9b18-7df9fd3c030b",
                        "mq_partition" : "main",
                        "meta" : {
                          "email" : "ZCAUDATE@OUTLOOK.COM",
                          "last_name" : "Zheng",
                          "first_name" : "Chris",
                          "account_id" : "33fc244c-6cc4-4d4f-9a2c-1fdf1c8835e3",
                          "language" : "EN"
                        },
                        "op_time" : 1684513862531893
                      } ]
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/email-verify-additional" : {
      "post" : {
        "summary" : "verifies the additional email",
        "operationId" : "email_verify_additional",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid",
                    "required" : true,
                    "example" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac"
                  },
                  "email" : {
                    "type" : "string",
                    "required" : true,
                    "example" : "HELLO@WORLD.COM"
                  },
                  "code" : {
                    "type" : "string",
                    "required" : true,
                    "example" : "00000"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "op_tag" : "user.account/email-verify-additional",
                      "mq_channel" : "__MAIL__",
                      "op_account" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac",
                      "op_id" : "9910bd21-f662-11ed-9b18-7df9fd3c030b",
                      "op_level" : "M",
                      "sync" : {
                        "user_email" : [ {
                          "time_updated" : 1684513885658659,
                          "is_active" : true,
                          "is_verified" : true,
                          "id" : "1c4f5426-3875-4868-a69e-af85adfb9ab3",
                          "is_public" : false,
                          "value" : "HELLO@WORLD.COM",
                          "is_primary" : false,
                          "time_created" : 1684513885647717,
                          "account_id" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac"
                        } ]
                      },
                      "msg_id" : "9910bd22-f662-11ed-9b18-7df9fd3c030b",
                      "mq_partition" : "main",
                      "meta" : {
                        "email" : "HELLO@WORLD.COM",
                        "last_name" : "Zheng",
                        "first_name" : "Chris",
                        "account_id" : "50e8d66c-edf6-4550-aa9a-38e612a3f6ac",
                        "language" : "EN"
                      },
                      "op_time" : 1684513885658659
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/email-verify-additional-resend" : {
      "post" : {
        "summary" : "verifies additional email",
        "operationId" : "email_verify_additional_resend",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid"
                  },
                  "email" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : null
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/get-privacy-policy" : {
      "post" : {
        "summary" : "gets the privacy policy",
        "operationId" : "get_privacy_policy",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : { }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "time_updated" : null,
                      "time_created" : null,
                      "id" : "00000000-0000-0000-0000-000000000000",
                      "version" : "1.0.0",
                      "body" : "\nPRIVACY POLICY\n\nLast updated: April 11, 2020\n\nINTRODUCTION\n\nStatstrade.io (\"us\", \"we\", or \"our\") operates\nhttp://www.statstrade.io (the \"Site\"). This page informs you of our\npolicies regarding the collection, use and disclosure of Personal\nInformation we receive from users of the Site. We use your Personal\nInformation only for providing and improving the Site. By using the\nSite, you agree to the collection and use of information in\naccordance with this policy.\n\nINFORMATION COLLECTION AND USE\n\nWhile using our Site, we may ask you to provide us with certain\npersonally identifiable information that can be used to contact or\nidentify you. Personally identifiable information may include, but is\nnot limited to your name (\"Personal Information\").\n\nLOGS\n\nLike many site operators, we collect information that your browser\nsends whenever you visit our Site (\"Log Data\"). This Log Data may\ninclude information such as your computer's Internet Protocol (\"IP\")\naddress, browser type, browser version, the pages of our Site that\nyou visit, the time and date of your visit, the time spent on those\npages and other statistics. In addition, we may use third party\nservices such as Google Analytics that collect, monitor and analyze\nthis.\n\nCOMMUNICATIONS\n\nWe may use your Personal Information to contact you with newsletters,\nmarketing or promotional materials and other information.\n\nCOOKIES\n\nCookies are files with small amount of data, which may include an\nanonymous unique identifier. Cookies are sent to your browser from a\nweb site and stored on your computer's hard drive. Like many sites,\nwe use \"cookies\" to collect information. You can instruct your\nbrowser to refuse all cookies or to indicate when a cookie is being\nsent. However, if you do not accept cookies, you may not be able to\nuse some portions of our Site.\n\nSECURITY\n\nThe security of your Personal Information is important to us, but\nremember that no method of transmission over the Internet, or method\nof electronic storage, is 100% secure. While we strive to use\ncommercially acceptable means to protect your Personal Information,\nwe cannot guarantee its absolute security.\n\nCHANGES TO THE PRIVACY POLICY\n\nThis Privacy Policy is effective as of September 11, 2019 and will\nremain in effect except with respect to any changes in its provisions\nin the future, which will be in effect immediately after being posted\non this page.\n\nWe reserve the right to update or change our Privacy Policy at any\ntime and you should check this Privacy Policy periodically. Your\ncontinued use of the Service after we post any modifications to the\nPrivacy Policy on this page will constitute your acknowledgment of\nthe modifications and your consent to abide and be bound by the\nmodified Privacy Policy.\n\nIf we make any material changes to this Privacy Policy, we will\nnotify you either through the email address you have provided us, or\nby placing a prominent notice on our website.\n\nCONTACT US\n\nIf you have any questions about this Privacy Policy, please contact\nus at:\n\nTahto Group Co. Ltd 468 Xichang Rd Kunming, Yunnan 65414 China\nPhone: +81 180888273090 admin@statstrade.io"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/get-terms-and-conditions" : {
      "post" : {
        "summary" : "gets the current terms and conditions",
        "operationId" : "get_terms_and_conditions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : { }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "time_updated" : null,
                      "time_created" : null,
                      "id" : "00000000-0000-0000-0000-000000000000",
                      "version" : "1.0.0",
                      "body" : "\nTERMS OF USE\n\nLast updated April 11, 2019\n\nAGREEMENT TO TERMS\n\nThese Terms of Use constitute a legally binding agreement made\nbetween you, whether personally or on behalf of an entity (\"you\") and\nTahto Group Co. Ltd, doing business as Statstrade.io\n(\"Statstrade.io\", \"we\", \"us\", or \"our\"), concerning your access to\nand use of the www.statstrade.io website as well as any other media\nform, media channel, mobile website or mobile application related,\nlinked, or otherwise connected thereto (collectively, the \"Site\").\nThe Site provides an online marketplace for the following goods,\nproducts, and/or services: __________ (the \"Marketplace Offerings\").\nIn order to help make the Site a secure environment for the purchase\nand sale of Marketplace Offerings, all users are required to accept\nand comply with these Terms of Use , including the Services Agreement\nposted on the Site, which are incorporated into these Terms of Use.\nYou agree that by accessing the Site and/or the Marketplace\nOfferings, you have read, understood, and agree to be bound by all of\nthese Terms of Use. IF YOU DO NOT AGREE WITH ALL OF THESE TERMS OF\nUSE, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SITE AND/OR THE\nMARKETPLACE OFFERINGS AND YOU MUST DISCONTINUE USE IMMEDIATELY.\n\nSupplemental terms and conditions or documents that may be posted on\nthe Site from time to time are hereby expressly incorporated herein\nby reference. We reserve the right, in our sole discretion, to make\nchanges or modifications to these Terms of Use at any time and for\nany reason. We will alert you about any changes by updating the \"Last\nupdated\" date of these Terms of Use, and you waive any right to\nreceive specific notice of each such change. It is your\nresponsibility to periodically review these Terms of Use to stay\ninformed of updates. You will be subject to, and will be deemed to\nhave been made aware of and to have accepted, the changes in any\nrevised Terms of Use by your continued use of the Site after the date\nsuch revised Terms of Use are posted.\n\nThe information provided on the Site is not intended for distribution\nto or use by any person or entity in any jurisdiction or country\nwhere such distribution or use would be contrary to law or regulation\nor which would subject us to any registration requirement within such\njurisdiction or country. Accordingly, those persons who choose to\naccess the Site from other locations do so on their own initiative\nand are solely responsible for compliance with local laws, if and to\nthe extent local laws are applicable.\n\nThe Site is intended for users who are at least 13 years of age. All\nusers who are minors in the jurisdiction in which they reside\n(generally under the age of 18) must have the permission of, and be\ndirectly supervised by, their parent or guardian to use the Site. If\nyou are a minor, you must have your parent or guardian read and agree\nto these Terms of Use prior to you using the Site.\n\nINTELLECTUAL PROPERTY RIGHTS\n\nUnless otherwise indicated, the Site and the Marketplace Offerings\nare our proprietary property and all source code, databases,\nfunctionality, software, website designs, audio, video, text,\nphotographs, and graphics on the Site (collectively, the \"Content\")\nand the trademarks, service marks, and logos contained therein (the\n\"Marks\") are owned or controlled by us or licensed to us, and are\nprotected by copyright and trademark laws and various other\nintellectual property rights and unfair competition laws of the\nUnited States, foreign jurisdictions, and international conventions.\nThe Content and the Marks are provided on the Site \"AS IS\" for your\ninformation and personal use only. Except as expressly provided in\nthese Terms of Use, no part of the Site or the Marketplace Offerings\nand no Content or Marks may be copied, reproduced, aggregated,\nrepublished, uploaded, posted, publicly displayed, encoded,\ntranslated, transmitted, distributed, sold, licensed, or otherwise\nexploited for any commercial purpose whatsoever, without our express\nprior written permission.\n\nProvided that you are eligible to use the Site, you are granted a\nlimited license to access and use the Site and to download or print a\ncopy of any portion of the Content to which you have properly gained\naccess solely for your personal, non-commercial use. We reserve all\nrights not expressly granted to you in and to the Site, the Content\nand the Marks.\n\nUSER REPRESENTATIONS\n\nBy using the Site or the Marketplace Offerings, you represent and\nwarrant that: (1) all registration information you submit will be\ntrue, accurate, current, and complete; (2) you will maintain the\naccuracy of such information and promptly update such registration\ninformation as necessary; (3) you have the legal capacity and you\nagree to comply with these Terms of Use; (4) you are not under the\nage of 13; (5) you are not a minor in the jurisdiction in which you\nreside, or if a minor, you have received parental permission to use\nthe Site; (6) you will not access the Site or the Marketplace\nOfferings through automated or non-human means, whether through a\nbot, script or otherwise; (7) you will not use the Site for any\nillegal or unauthorized purpose; and (8) your use of the Site or the\nMarketplace Offerings will not violate any applicable law or\nregulation.\n\nIf you provide any information that is untrue, inaccurate, not\ncurrent, or incomplete, we have the right to suspend or terminate\nyour account and refuse any and all current or future use of the Site\n(or any portion thereof).\n\nYou may not use the Site or the Marketplace Offerings for any illegal\nor unauthorized purpose nor may you, in the use of Marketplace\nOfferings, violate any laws. Among unauthorized Marketplace Offerings\nare the following: intoxicants of any sort; illegal drugs or other\nillegal products; alcoholic beverages; games of chance; and\npornography or graphic adult content, images, or other adult\nproducts. Postings of any unauthorized products or content may result\nin immediate termination of your account and a lifetime ban from use\nof the Site.\n\nWe are a service provider and make no representations as to the\nsafety, effectiveness, adequacy, accuracy, availability, prices,\nratings, reviews, or legality of any of the information contained on\nthe Site or the Marketplace Offerings displayed or offered through\nthe Site. You understand and agree that the content of the Site does\nnot contain or constitute representations to be reasonably relied\nupon, and you agree to hold us harmless from any errors, omissions,\nor misrepresentations contained within the Siteâ€™s content. We do\nnot endorse or recommend any Marketplace Offerings and the Site is\nprovided for informational and advertising purposes only.\n\nUSER REGISTRATION\n\nYou may be required to register with the Site in order to access the\nMarketplace Offerings. You agree to keep your password confidential\nand will be responsible for all use of your account and password. We\nreserve the right to remove, reclaim, or change a username you select\nif we determine, in our sole discretion, that such username is\ninappropriate, obscene, or otherwise objectionable.\n\nMARKETPLACE OFFERINGS\n\nWe reserve the right to limit the quantities of the Marketplace\nOfferings offered or available on the Site. All descriptions or\npricing of the Marketplace Offerings are subject to change at any\ntime without notice, at our sole discretion. We reserve the right to\ndiscontinue any Marketplace Offerings at any time for any reason. We\ndo not warrant that the quality of any of the Marketplace Offerings\npurchased by you will meet your expectations or that any errors in\nthe Site will be corrected.\n\nPURCHASES AND PAYMENT\n\nWe accept the following forms of payment:\n\n- Visa - Mastercard - Wechat Pay\n\nYou agree to provide current, complete, and accurate purchase and\naccount information for all purchases of the Marketplace Offerings\nmade via the Site. You further agree to promptly update account and\npayment information, including email address, payment method, and\npayment card expiration date, so that we can complete your\ntransactions and contact you as needed. Sales tax will be added to\nthe price of purchases as deemed required by us. We may change prices\nat any time. All payments shall be in U.S. dollars.\n\nYou agree to pay all charges at the prices then in effect for your\npurchases and any applicable shipping fees, and you authorize us to\ncharge your chosen payment provider for any such amounts upon placing\nyour order. If your order is subject to recurring charges, then you\nconsent to our charging your payment method on a recurring basis\nwithout requiring your prior approval for each recurring charge,\nuntil such time as you cancel the applicable order. We reserve the\nright to correct any errors or mistakes in pricing, even if we have\nalready requested or received payment.\n\nWe reserve the right to refuse any order placed through the Site. We\nmay, in our sole discretion, limit or cancel quantities purchased per\nperson, per household, or per order. These restrictions may include\norders placed by or under the same customer account, the same payment\nmethod, and/or orders that use the same billing or shipping address.\nWe reserve the right to limit or prohibit orders that, in our sole\njudgment, appear to be placed by dealers, resellers, or distributors.\n\nREFUNDS POLICY\n\nAll sales are final and no refund will be issued. PROHIBITED\nACTIVITIES\n\nYou may not access or use the Site for any purpose other than that\nfor which we make the Site available. The Site may not be used in\nconnection with any commercial endeavors except those that are\nspecifically endorsed or approved by us.\n\nAs a user of the Site, you agree not to: 1. Systematically retrieve\ndata or other content from the Site to create or compile, directly or\nindirectly, a collection, compilation, database, or directory without\nwritten permission from us. 2. Make any unauthorized use of the\nMarketplace Offerings, including collecting usernames and/or email\naddresses of users by electronic or other means for the purpose of\nsending unsolicited email, or creating user accounts by automated\nmeans or under false pretenses. 3. Use a buying agent or purchasing\nagent to make purchases on the Site. 4. Circumvent, disable, or\notherwise interfere with security-related features of the Site,\nincluding features that prevent or restrict the use or copying of any\nContent or enforce limitations on the use of the Site and/or the\nContent contained therein. 5. Engage in unauthorized framing of or\nlinking to the Site. 6. Use the Site to advertise or offer to sell\ngoods and services. 7. Trick, defraud, or mislead us and other users,\nespecially in any attempt to learn sensitive account information such\nas user passwords. 8. Make improper use of our support services or\nsubmit false reports of abuse or misconduct. 9. Engage in any\nautomated use of the system, such as using scripts to send comments\nor messages, or using any data mining, robots, or similar data\ngathering and extraction tools. 10. Interfere with, disrupt, or\ncreate an undue burden on the Site or the networks or services\nconnected to the Site. 11. Attempt to impersonate another user or\nperson or use the username of another user. 12. Sell or otherwise\ntransfer your profile. 13. Use any information obtained from the Site\nin order to harass, abuse, or harm another person. 14. Use the\nMarketplace Offerings as part of any effort to compete with us or\notherwise use the Site and/or the Content for any revenue-generating\nendeavor or commercial enterprise. 15. Decipher, decompile,\ndisassemble, or reverse engineer any of the software comprising or in\nany way making up a part of the Site. 16. Attempt to bypass any\nmeasures of the Site designed to prevent or restrict access to the\nSite, or any portion of the Site. 17. Harass, annoy, intimidate, or\nthreaten any of our employees or agents engaged in providing any\nportion of the Marketplace Offerings to you. 18. Delete the copyright\nor other proprietary rights notice from any Content. 19. Copy or\nadapt the Siteâ€™s software, including but not limited to Flash, PHP,\nHTML, JavaScript, or other code. 20. Upload or transmit (or attempt\nto upload or to transmit) viruses, Trojan horses, or other material,\nincluding excessive use of capital letters and spamming (continuous\nposting of repetitive text), that interferes with any partyâ€™s\nuninterrupted use and enjoyment of the Site or modifies, impairs,\ndisrupts, alters, or interferes with the use, features, functions,\noperation, or maintenance of the Marketplace Offerings. 21. Upload or\ntransmit (or attempt to upload or to transmit) any material that acts\nas a passive or active information collection or transmission\nmechanism, including without limitation, clear graphics interchange\nformats (\"gifs\"), 1Ã—1 pixels, web bugs, cookies, or other similar\ndevices (sometimes referred to as \"spyware\" or \"passive collection\nmechanisms\" or \"pcms\"). 22. Except as may be the result of standard\nsearch engine or Internet browser usage, use, launch, develop, or\ndistribute any automated system, including without limitation, any\nspider, robot, cheat utility, scraper, or offline reader that\naccesses the Site, or using or launching any unauthorized script or\nother software. 23. Disparage, tarnish, or otherwise harm, in our\nopinion, us and/or the Site. 24. Use the Site in a manner\ninconsistent with any applicable laws or regulations.\n\nUSER GENERATED CONTRIBUTIONS\n\nThe Site may invite you to chat, contribute to, or participate in\nblogs, message boards, online forums, and other functionality, and\nmay provide you with the opportunity to create, submit, post,\ndisplay, transmit, perform, publish, distribute, or broadcast content\nand materials to us or on the Site, including but not limited to\ntext, writings, video, audio, photographs, graphics, comments,\nsuggestions, or personal information or other material (collectively,\n\"Contributions\"). Contributions may be viewable by other users of the\nSite and the Marketplace Offerings and through third-party websites.\nAs such, any Contributions you transmit may be treated as\nnon-confidential and non-proprietary. When you create or make\navailable any Contributions, you thereby represent and warrant that:\n\n1. The creation, distribution, transmission, public display, or\nperformance, and the accessing, downloading, or copying of your\nContributions do not and will not infringe the proprietary rights,\nincluding but not limited to the copyright, patent, trademark, trade\nsecret, or moral rights of any third party. 2. You are the creator\nand owner of or have the necessary licenses, rights, consents,\nreleases, and permissions to use and to authorize us, the Site, and\nother users of the Site to use your Contributions in any manner\ncontemplated by the Site and these Terms of Use. 3. You have the\nwritten consent, release, and/or permission of each and every\nidentifiable individual person in your Contributions to use the name\nor likeness of each and every such identifiable individual person to\nenable inclusion and use of your Contributions in any manner\ncontemplated by the Site and these Terms of Use. 4. Your\nContributions are not false, inaccurate, or misleading. 5. Your\nContributions are not unsolicited or unauthorized advertising,\npromotional materials, pyramid schemes, chain letters, spam, mass\nmailings, or other forms of solicitation. 6. Your Contributions are\nnot obscene, lewd, lascivious, filthy, violent, harassing, libelous,\nslanderous, or otherwise objectionable (as determined by us). 7. Your\nContributions do not ridicule, mock, disparage, intimidate, or abuse\nanyone. 8. Your Contributions do not advocate the violent overthrow\nof any government or incite, encourage, or threaten physical harm\nagainst another. 9. Your Contributions do not violate any applicable\nlaw, regulation, or rule. 10. Your Contributions do not violate the\nprivacy or publicity rights of any third party. 11. Your\nContributions do not contain any material that solicits personal\ninformation from anyone under the age of 18 or exploits people under\nthe age of 18 in a sexual or violent manner. 12. Your Contributions\ndo not violate any federal or state law concerning child pornography,\nor otherwise intended to protect the health or well-being of minors;\n13. Your Contributions do not include any offensive comments that are\nconnected to race, national origin, gender, sexual preference, or\nphysical handicap. 14. Your Contributions do not otherwise violate,\nor link to material that violates, any provision of these Terms of\nUse, or any applicable law or regulation.\n\nAny use of the Site or the Marketplace Offerings in violation of the\nforegoing violates these Terms of Use and may result in, among other\nthings, termination or suspension of your rights to use the Site and\nthe Marketplace Offerings.\n\nCONTRIBUTION LICENSE\n\nBy posting your Contributions to any part of the Site or making\nContributions accessible to the Site by linking your account from the\nSite to any of your social networking accounts, you automatically\ngrant, and you represent and warrant that you have the right to\ngrant, to us an unrestricted, unlimited, irrevocable, perpetual,\nnon-exclusive, transferable, royalty-free, fully-paid, worldwide\nright, and license to host, use, copy, reproduce, disclose, sell,\nresell, publish, broadcast, retitle, archive, store, cache, publicly\nperform, publicly display, reformat, translate, transmit, excerpt (in\nwhole or in part), and distribute such Contributions (including,\nwithout limitation, your image and voice) for any purpose,\ncommercial, advertising, or otherwise, and to prepare derivative\nworks of, or incorporate into other works, such Contributions, and\ngrant and authorize sublicenses of the foregoing. The use and\ndistribution may occur in any media formats and through any media\nchannels.\n\nThis license will apply to any form, media, or technology now known\nor hereafter developed, and includes our use of your name, company\nname, and franchise name, as applicable, and any of the trademarks,\nservice marks, trade names, logos, and personal and commercial images\nyou provide. You waive all moral rights in your Contributions, and\nyou warrant that moral rights have not otherwise been asserted in\nyour Contributions.\n\nWe do not assert any ownership over your Contributions. You retain\nfull ownership of all of your Contributions and any intellectual\nproperty rights or other proprietary rights associated with your\nContributions. We are not liable for any statements or\nrepresentations in your Contributions provided by you in any area on\nthe Site. You are solely responsible for your Contributions to the\nSite and you expressly agree to exonerate us from any and all\nresponsibility and to refrain from any legal action against us\nregarding your Contributions.\n\nWe have the right, in our sole and absolute discretion, (1) to edit,\nredact, or otherwise change any Contributions; (2) to re-categorize\nany Contributions to place them in more appropriate locations on the\nSite; and (3) to pre-screen or delete any Contributions at any time\nand for any reason, without notice. We have no obligation to monitor\nyour Contributions.\n\nGUIDELINES FOR REVIEWS\n\nWe may provide you areas on the Site to leave reviews or ratings.\nWhen posting a review, you must comply with the following criteria:\n(1) you should have firsthand experience with the person/entity being\nreviewed; (2) your reviews should not contain offensive profanity, or\nabusive, racist, offensive, or hate language; (3) your reviews should\nnot contain discriminatory references based on religion, race,\ngender, national origin, age, marital status, sexual orientation, or\ndisability; (4) your reviews should not contain references to illegal\nactivity; (5) you should not be affiliated with competitors if\nposting negative reviews; (6) you should not make any conclusions as\nto the legality of conduct; (7) you may not post any false or\nmisleading statements; and (8) you may not organize a campaign\nencouraging others to post reviews, whether positive or negative.\n\nWe may accept, reject, or remove reviews in our sole discretion. We\nhave absolutely no obligation to screen reviews or to delete reviews,\neven if anyone considers reviews objectionable or inaccurate. Reviews\nare not endorsed by us, and do not necessarily represent our opinions\nor the views of any of our affiliates or partners. We do not assume\nliability for any review or for any claims, liabilities, or losses\nresulting from any review. By posting a review, you hereby grant to\nus a perpetual, non-exclusive, worldwide, royalty-free, fully-paid,\nassignable, and sublicensable right and license to reproduce, modify,\ntranslate, transmit by any means, display, perform, and/or distribute\nall content relating to reviews.\n\nSOCIAL MEDIA\n\nAs part of the functionality of the Site, you may link your account\nwith online accounts you have with third-party service providers\n(each such account, a \"Third-Party Account\") by either: (1) providing\nyour Third-Party Account login information through the Site; or (2)\nallowing us to access your Third-Party Account, as is permitted under\nthe applicable terms and conditions that govern your use of each\nThird-Party Account. You represent and warrant that you are entitled\nto disclose your Third-Party Account login information to us and/or\ngrant us access to your Third-Party Account, without breach by you of\nany of the terms and conditions that govern your use of the\napplicable Third-Party Account, and without obligating us to pay any\nfees or making us subject to any usage limitations imposed by the\nthird-party service provider of the Third-Party Account. By granting\nus access to any Third-Party Accounts, you understand that (1) we may\naccess, make available, and store (if applicable) any content that\nyou have provided to and stored in your Third-Party Account (the\n\"Social Network Content\") so that it is available on and through the\nSite via your account, including without limitation any friend lists\nand (2) we may submit to and receive from your Third-Party Account\nadditional information to the extent you are notified when you link\nyour account with the Third-Party Account. Depending on the\nThird-Party Accounts you choose and subject to the privacy settings\nthat you have set in such Third-Party Accounts, personally\nidentifiable information that you post to your Third-Party Accounts\nmay be available on and through your account on the Site. Please note\nthat if a Third-Party Account or associated service becomes\nunavailable or our access to such Third-Party Account is terminated\nby the third-party service provider, then Social Network Content may\nno longer be available on and through the Site. You will have the\nability to disable the connection between your account on the Site\nand your Third-Party Accounts at any time. PLEASE NOTE THAT YOUR\nRELATIONSHIP WITH THE THIRD-PARTY SERVICE PROVIDERS ASSOCIATED WITH\nYOUR THIRD-PARTY ACCOUNTS IS GOVERNED SOLELY BY YOUR AGREEMENT(S)\nWITH SUCH THIRD-PARTY SERVICE PROVIDERS. We make no effort to review\nany Social Network Content for any purpose, including but not limited\nto, for accuracy, legality, or non-infringement, and we are not\nresponsible for any Social Network Content. You acknowledge and agree\nthat we may access your email address book associated with a\nThird-Party Account and your contacts list stored on your mobile\ndevice or tablet computer solely for purposes of identifying and\ninforming you of those contacts who have also registered to use the\nSite. You can deactivate the connection between the Site and your\nThird-Party Account by contacting us using the contact information\nbelow or through your account settings (if applicable). We will\nattempt to delete any information stored on our servers that was\nobtained through such Third-Party Account, except the username and\nprofile picture that become associated with your account.\n\nSUBMISSIONS\n\nYou acknowledge and agree that any questions, comments, suggestions,\nideas, feedback, or other information regarding the Site or the\nMarketplace Offerings (\"Submissions\") provided by you to us are\nnon-confidential and shall become our sole property. We shall own\nexclusive rights, including all intellectual property rights, and\nshall be entitled to the unrestricted use and dissemination of these\nSubmissions for any lawful purpose, commercial or otherwise, without\nacknowledgment or compensation to you. You hereby waive all moral\nrights to any such Submissions, and you hereby warrant that any such\nSubmissions are original with you or that you have the right to\nsubmit such Submissions. You agree there shall be no recourse against\nus for any alleged or actual infringement or misappropriation of any\nproprietary right in your Submissions.\n\nSITE MANAGEMENT\n\nWe reserve the right, but not the obligation, to: (1) monitor the\nSite for violations of these Terms of Use; (2) take appropriate legal\naction against anyone who, in our sole discretion, violates the law\nor these Terms of Use, including without limitation, reporting such\nuser to law enforcement authorities; (3) in our sole discretion and\nwithout limitation, refuse, restrict access to, limit the\navailability of, or disable (to the extent technologically feasible)\nany of your Contributions or any portion thereof; (4) in our sole\ndiscretion and without limitation, notice, or liability, to remove\nfrom the Site or otherwise disable all files and content that are\nexcessive in size or are in any way burdensome to our systems; and\n(5) otherwise manage the Site in a manner designed to protect our\nrights and property and to facilitate the proper functioning of the\nSite and the Marketplace Offerings.\n\nPRIVACY POLICY\n\nWe care about data privacy and security. By using the Site or the\nMarketplace Offerings, you agree to be bound by our Privacy Policy\nposted on the Site, which is incorporated into these Terms of Use.\nPlease be advised the Site and the Marketplace Offerings are hosted\nin the United States. If you access the Site or the Marketplace\nOfferings from the European Union, Asia, or any other region of the\nworld with laws or other requirements governing personal data\ncollection, use, or disclosure that differ from applicable laws in\nthe United States, then through your continued use of the Site, you\nare transferring your data to the United States, and you expressly\nconsent to have your data transferred to and processed in the United\nStates. Further, we do not knowingly accept, request, or solicit\ninformation from children or knowingly market to children. Therefore,\nin accordance with the U.S. Childrenâ€™s Online Privacy Protection\nAct, if we receive actual knowledge that anyone under the age of 13\nhas provided personal information to us without the requisite and\nverifiable parental consent, we will delete that information from the\nSite as quickly as is reasonably practical.\n\nCOPYRIGHT INFRINGEMENTS\n\nWe respect the intellectual property rights of others. If you believe\nthat any material available on or through the Site infringes upon any\ncopyright you own or control, please immediately notify us using the\ncontact information provided below (a \"Notification\"). A copy of your\nNotification will be sent to the person who posted or stored the\nmaterial addressed in the Notification. Please be advised that\npursuant to federal law you may be held liable for damages if you\nmake material misrepresentations in a Notification. Thus, if you are\nnot sure that material located on or linked to by the Site infringes\nyour copyright, you should consider first contacting an attorney.\n\nTERM AND TERMINATION\n\nThese Terms of Use shall remain in full force and effect while you\nuse the Site. WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS OF\nUSE, WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT\nNOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE SITE AND THE\nMARKETPLACE OFFERINGS (INCLUDING BLOCKING CERTAIN IP ADDRESSES), TO\nANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT\nLIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT\nCONTAINED IN THESE TERMS OF USE OR OF ANY APPLICABLE LAW OR\nREGULATION. WE MAY TERMINATE YOUR USE OR PARTICIPATION IN THE SITE\nAND THE MARKETPLACE OFFERINGS OR DELETE YOUR ACCOUNT AND ANY CONTENT\nOR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT WARNING, IN OUR\nSOLE DISCRETION.\n\nIf we terminate or suspend your account for any reason, you are\nprohibited from registering and creating a new account under your\nname, a fake or borrowed name, or the name of any third party, even\nif you may be acting on behalf of the third party. In addition to\nterminating or suspending your account, we reserve the right to take\nappropriate legal action, including without limitation pursuing\ncivil, criminal, and injunctive redress.\n\nMODIFICATIONS AND INTERRUPTIONS\n\nWe reserve the right to change, modify, or remove the contents of the\nSite at any time or for any reason at our sole discretion without\nnotice. However, we have no obligation to update any information on\nour Site. We also reserve the right to modify or discontinue all or\npart of the Marketplace Offerings without notice at any time. We will\nnot be liable to you or any third party for any modification, price\nchange, suspension, or discontinuance of the Site or the Marketplace\nOfferings.\n\nWe cannot guarantee the Site and the Marketplace Offerings will be\navailable at all times. We may experience hardware, software, or\nother problems or need to perform maintenance related to the Site,\nresulting in interruptions, delays, or errors. We reserve the right\nto change, revise, update, suspend, discontinue, or otherwise modify\nthe Site or the Marketplace Offerings at any time or for any reason\nwithout notice to you. You agree that we have no liability whatsoever\nfor any loss, damage, or inconvenience caused by your inability to\naccess or use the Site or the Marketplace Offerings during any\ndowntime or discontinuance of the Site or the Marketplace Offerings.\nNothing in these Terms of Use will be construed to obligate us to\nmaintain and support the Site or the Marketplace Offerings or to\nsupply any corrections, updates, or releases in connection therewith.\n\nGOVERNING LAW\n\nThese Terms of Use and your use of the Site and the Marketplace\nOfferings are governed by and construed in accordance with the laws\nof the State of __________ applicable to agreements made and to be\nentirely performed within the State of __________, without regard to\nits conflict of law principles.\n\nDISPUTE RESOLUTION\n\nBinding Arbitration\n\nIf the Parties are unable to resolve a Dispute through informal\nnegotiations, the Dispute (except those Disputes expressly excluded\nbelow) will be finally and exclusively resolved by binding\narbitration. YOU UNDERSTAND THAT WITHOUT THIS PROVISION, YOU WOULD\nHAVE THE RIGHT TO SUE IN COURT AND HAVE A JURY TRIAL. The arbitration\nshall be commenced and conducted under the Commercial Arbitration\nRules of the American Arbitration Association (\"AAA\") and, where\nappropriate, the AAAâ€™s Supplementary Procedures for Consumer\nRelated Disputes (\"AAA Consumer Rules\"), both of which are available\nat the AAA website www.adr.org. Your arbitration fees and your share\nof arbitrator compensation shall be governed by the AAA Consumer\nRules and, where appropriate, limited by the AAA Consumer Rules. The\narbitration may be conducted in person, through the submission of\ndocuments, by phone, or online. The arbitrator will make a decision\nin writing, but need not provide a statement of reasons unless\nrequested by either Party. The arbitrator must follow applicable law,\nand any award may be challenged if the arbitrator fails to do so.\nExcept where otherwise required by the applicable AAA rules or\napplicable law, the arbitration will take place in __________ County,\n__________. Except as otherwise provided herein, the Parties may\nlitigate in court to compel arbitration, stay proceedings pending\narbitration, or to confirm, modify, vacate, or enter judgment on the\naward entered by the arbitrator.\n\nIf for any reason, a Dispute proceeds in court rather than\narbitration, the Dispute shall be commenced or prosecuted in the\nstate and federal courts located in __________ County, __________,\nand the Parties hereby consent to, and waive all defenses of lack of\npersonal jurisdiction, and forum non conveniens with respect to venue\nand jurisdiction in such state and federal courts. Application of the\nUnited Nations Convention on Contracts for the International Sale of\nGoods and the the Uniform Computer Information Transaction Act\n(UCITA) are excluded from these Terms of Use.\n\nIf this provision is found to be illegal or unenforceable, then\nneither Party will elect to arbitrate any Dispute falling within that\nportion of this provision found to be illegal or unenforceable and\nsuch Dispute shall be decided by a court of competent jurisdiction\nwithin the courts listed for jurisdiction above, and the Parties\nagree to submit to the personal jurisdiction of that court.\n\nRestrictions\n\nThe Parties agree that any arbitration shall be limited to the\nDispute between the Parties individually. To the full extent\npermitted by law, (a) no arbitration shall be joined with any other\nproceeding; (b) there is no right or authority for any Dispute to be\narbitrated on a class-action basis or to utilize class action\nprocedures; and (c) there is no right or authority for any Dispute to\nbe brought in a purported representative capacity on behalf of the\ngeneral public or any other persons.\n\nExceptions to Arbitration\n\nThe Parties agree that the following Disputes are not subject to the\nabove provisions concerning binding arbitration: (a) any Disputes\nseeking to enforce or protect, or concerning the validity of, any of\nthe intellectual property rights of a Party; (b) any Dispute related\nto, or arising from, allegations of theft, piracy, invasion of\nprivacy, or unauthorized use; and (c) any claim for injunctive\nrelief. If this provision is found to be illegal or unenforceable,\nthen neither Party will elect to arbitrate any Dispute falling within\nthat portion of this provision found to be illegal or unenforceable\nand such Dispute shall be decided by a court of competent\njurisdiction within the courts listed for jurisdiction above, and the\nParties agree to submit to the personal jurisdiction of that court.\n\nCORRECTIONS\n\nThere may be information on the Site that contains typographical\nerrors, inaccuracies, or omissions that may relate to the Marketplace\nOfferings, including descriptions, pricing, availability, and various\nother information. We reserve the right to correct any errors,\ninaccuracies, or omissions and to change or update the information on\nthe Site at any time, without prior notice.\n\nDISCLAIMER\n\nTHE SITE AND THE MARKETPLACE OFFERINGS ARE PROVIDED ON AN AS-IS AND\nAS-AVAILABLE BASIS. YOU AGREE THAT YOUR USE OF THE SITE AND OUR\nSERVICES WILL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED\nBY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION\nWITH THE SITE AND THE MARKETPLACE OFFERINGS AND YOUR USE THEREOF,\nINCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF\nMERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND\nNON-INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE\nACCURACY OR COMPLETENESS OF THE SITEâ€™S CONTENT OR THE CONTENT OF\nANY WEBSITES LINKED TO THE SITE AND WE WILL ASSUME NO LIABILITY OR\nRESPONSIBILITY FOR ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF\nCONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY\nNATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SITE,\n(3) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR\nANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED\nTHEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM\nTHE SITE OR THE MARKETPLACE OFFERINGS, (5) ANY BUGS, VIRUSES, TROJAN\nHORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE SITE\nBY ANY THIRD PARTY, AND/OR (6) ANY ERRORS OR OMISSIONS IN ANY CONTENT\nAND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A\nRESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE\nMADE AVAILABLE VIA THE SITE. WE DO NOT WARRANT, ENDORSE, GUARANTEE,\nOR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR\nOFFERED BY A THIRD PARTY THROUGH THE SITE, ANY HYPERLINKED WEBSITE,\nOR ANY WEBSITE OR MOBILE APPLICATION FEATURED IN ANY BANNER OR OTHER\nADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN ANY WAY BE\nRESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY\nTHIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE\nOF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU\nSHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.\n\nLIMITATIONS OF LIABILITY\n\nIN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE\nTO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL,\nEXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST\nPROFIT, LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM\nYOUR USE OF THE SITE OR THE MARKETPLACE OFFERINGS, EVEN IF WE HAVE\nBEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING\nANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR\nANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL\nAT ALL TIMES BE LIMITED TO THE LESSER OF THE AMOUNT PAID, IF ANY, BY\nYOU TO US OR __________. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS\nON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN\nDAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE\nDISCLAIMERS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE\nADDITIONAL RIGHTS.\n\nINDEMNIFICATION\n\nYou agree to defend, indemnify, and hold us harmless, including our\nsubsidiaries, affiliates, and all of our respective officers, agents,\npartners, and employees, from and against any loss, damage,\nliability, claim, or demand, including reasonable attorneysâ€™ fees\nand expenses, made by any third party due to or arising out of: (1)\nyour Contributions; (2) use of the Marketplace Offerings; (3) breach\nof these Terms of Use; (4) any breach of your representations and\nwarranties set forth in these Terms of Use; (5) your violation of the\nrights of a third party, including but not limited to intellectual\nproperty rights; or (6) any overt harmful act toward any other user\nof the Site or the Marketplace Offerings with whom you connected via\nthe Site. Notwithstanding the foregoing, we reserve the right, at\nyour expense, to assume the exclusive defense and control of any\nmatter for which you are required to indemnify us, and you agree to\ncooperate, at your expense, with our defense of such claims. We will\nuse reasonable efforts to notify you of any such claim, action, or\nproceeding which is subject to this indemnification upon becoming\naware of it.\n\nUSER DATA\n\nWe will maintain certain data that you transmit to the Site for the\npurpose of managing the performance of the Marketplace Offerings, as\nwell as data relating to your use of the Marketplace Offerings.\nAlthough we perform regular routine backups of data, you are solely\nresponsible for all data that you transmit or that relates to any\nactivity you have undertaken using the Marketplace Offerings. You\nagree that we shall have no liability to you for any loss or\ncorruption of any such data, and you hereby waive any right of action\nagainst us arising from any such loss or corruption of such data.\n\nELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES\n\nVisiting the Site, sending us emails, and completing online forms\nconstitute electronic communications. You consent to receive\nelectronic communications, and you agree that all agreements,\nnotices, disclosures, and other communications we provide to you\nelectronically, via email and on the Site, satisfy any legal\nrequirement that such communication be in writing. YOU HEREBY AGREE\nTO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS, AND OTHER\nRECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS\nOF TRANSACTIONS INITIATED OR COMPLETED BY US OR VIA THE SITE. You\nhereby waive any rights or requirements under any statutes,\nregulations, rules, ordinances, or other laws in any jurisdiction\nwhich require an original signature or delivery or retention of\nnon-electronic records, or to payments or the granting of credits by\nany means other than electronic means.\n\nMISCELLANEOUS\n\nThese Terms of Use and any policies or operating rules posted by us\non the Site or in respect to the Marketplace Offerings constitute the\nentire agreement and understanding between you and us. Our failure to\nexercise or enforce any right or provision of these Terms of Use\nshall not operate as a waiver of such right or provision. These Terms\nof Use operate to the fullest extent permissible by law. We may\nassign any or all of our rights and obligations to others at any\ntime. We shall not be responsible or liable for any loss, damage,\ndelay, or failure to act caused by any cause beyond our reasonable\ncontrol. If any provision or part of a provision of these Terms of\nUse is determined to be unlawful, void, or unenforceable, that\nprovision or part of the provision is deemed severable from these\nTerms of Use and does not affect the validity and enforceability of\nany remaining provisions. There is no joint venture, partnership,\nemployment or agency relationship created between you and us as a\nresult of these Terms of Use or use of the Marketplace Offerings. You\nagree that these Terms of Use will not be construed against us by\nvirtue of having drafted them. You hereby waive any and all defenses\nyou may have based on the electronic form of these Terms of Use and\nthe lack of signing by the parties hereto to execute these Terms of\nUse.\n\nCONTACT US\n\nIn order to resolve a complaint regarding the Site or the Marketplace\nOfferings or to receive further information regarding use of the Site\nor the Marketplace Offerings, please contact us at:\n\nTahto Group Co. Ltd 468 Xichang Rd Kunming, Yunnan 65414 China\nPhone: +81 180888273090 admin@statstrade.io"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/login" : {
      "post" : {
        "summary" : "login web web interface",
        "operationId" : "login",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : { }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : null
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/login-renew" : {
      "post" : {
        "summary" : "renews an expiring token",
        "operationId" : "login_renew",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "token" : {
                    "type" : "string",
                    "required" : true,
                    "example" : "eyJpZCI6ICJhMWZhZGUxMC1iNGU3LTRlZjQtYWM4My0yMDhkYjc5YWZlZWEiLCAiY3JlYXRlZCI6IDE2ODQ1MTM4NjI5NzMsICJpc19zdXBlciI6IGZhbHNlfQ==.i6Iv+o9DV48ZXzrBJ3St2E07aJBTHWWhP01EQgarahX02DwxSbs8JCW3l/o4bOqi"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "mq_return" : {
                        "op_time" : 1684513862979025,
                        "msg_id" : "8af1aff0-f662-11ed-9b18-7df9fd3c030b",
                        "op_tag" : "user.account/login-renew",
                        "op_level" : "N",
                        "op_account" : "a1fade10-b4e7-4ef4-ac83-208db79afeea",
                        "op_id" : "8af1afef-f662-11ed-9b18-7df9fd3c030b",
                        "session" : {
                          "is_super" : false,
                          "id" : "eyJpZCI6ICJhMWZhZGUxMC1iNGU3LTRlZjQtYWM4My0yMDhkYjc5YWZlZWEiLCAiY3JlYXRlZCI6IDE2ODQ1MTM4NjI5NzksICJpc19zdXBlciI6IGZhbHNlfQ==.BU50ThhCNwf1R+RzTsQq7C4mvSVzkf+yr5CYdiwF99wgC6zMrPAvlHC1gwtWJMR+"
                        }
                      },
                      "mq_bulk" : [ {
                        "op_time" : 1684513862979025,
                        "msg_id" : "8af1aff0-f662-11ed-9b18-7df9fd3c030b",
                        "op_tag" : "user.account/login-renew",
                        "op_level" : "N",
                        "op_account" : "a1fade10-b4e7-4ef4-ac83-208db79afeea",
                        "mq_channel" : "__USER__",
                        "mq_partition" : "a1fade10-b4e7-4ef4-ac83-208db79afeea",
                        "op_id" : "8af1afef-f662-11ed-9b18-7df9fd3c030b"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/logout" : {
      "post" : {
        "summary" : "logs out of current session",
        "operationId" : "logout",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "token" : {
                    "type" : "string",
                    "required" : true,
                    "example" : "eyJpZCI6ICI1ZWJiODJiNS00ZmI4LTQ3MzEtYmMyMS05OTQ2ZjNlOWUwY2EiLCAiY3JlYXRlZCI6IDE2ODQ1MTM4NjMwMDMsICJpc19zdXBlciI6IGZhbHNlfQ==.NFD+/PdIxJRgFV28ANuYtwgvcu3qt+wrOc9kxfisKV16BG0d8je40B0gVLeUEaxp"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "op_time" : null,
                      "msg_id" : "8bbdafa2-f662-11ed-9b18-7df9fd3c030b",
                      "op_tag" : "user.account/logout",
                      "op_level" : "N",
                      "op_account" : null,
                      "op_id" : null
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/net-check" : {
      "post" : {
        "summary" : "check for statsnet",
        "operationId" : "net_check",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid",
                    "required" : true,
                    "example" : "00000000-0000-0000-0000-000000000000"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : true
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/notification-modify" : {
      "post" : {
        "summary" : "modifies user notification",
        "operationId" : "notification_modify",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid",
                    "required" : true,
                    "example" : "b560b169-512c-4c5e-b08a-61702c12c47e"
                  },
                  "form" : {
                    "type" : "object",
                    "properties" : {
                      "general" : {
                        "type" : "object",
                        "properties" : {
                          "hello" : {
                            "type" : "boolean",
                            "required" : true,
                            "example" : true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "op_tag" : "user.account/notification-modify",
                      "mq_channel" : "__USER__",
                      "op_account" : "b560b169-512c-4c5e-b08a-61702c12c47e",
                      "op_id" : "98b8a3c4-f662-11ed-9b18-7df9fd3c030b",
                      "op_level" : "S",
                      "sync" : {
                        "user_notification" : [ {
                          "general" : {
                            "hello" : true
                          },
                          "time_updated" : 1684513885215015,
                          "time_created" : 1684513885171729,
                          "funding" : { },
                          "account_id" : "b560b169-512c-4c5e-b08a-61702c12c47e",
                          "id" : "7f806be8-e365-4881-9d97-68feb30a0a28",
                          "trading" : { }
                        } ]
                      },
                      "msg_id" : "98b8a3c5-f662-11ed-9b18-7df9fd3c030b",
                      "mq_partition" : "b560b169-512c-4c5e-b08a-61702c12c47e",
                      "op_time" : 1684513885215015
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error"
          }
        }
      }
    },
    "/account/oauth-unlink" : {
      "post" : {
        "summary" : "unlinks a social media account",
        "operationId" : "oauth_unlink",
        "parameters" : [ {
          "in" : "header",
          "name" : "Token",
          "schema" : {
            "type" : "string",
            "required" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "uuid",
                    "required" : true,
                    "example" : "a875abeb-0fc4-44ca-a970-f4960a8bb650"
                  },
                  "identity" : {
                    "type" : "object",
                    "properties" : {
                      "value" : {
                        "type" : "string",
                        "required" : true,
                        "example" : "ZCAUDATE"
                      },
                      "type" : {
                        "type" : "string",
                        "required" : true,
                        "example" : "github"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string",
                      "enum" : [ "success", "errored" ]
                    },
                    "data" : {
                      "type" : "object"
                    }
                  },
                  "example" : {
                    "status" : "success",
                    "data" : {
                      "op_tag" : "user.account/oauth-unlink",
                      "mq_channel" : "__USER__",
[...]
